.SidebarNav{
    position: absolute;
    font-size: 12%;
    top: 5%;
}


/* Collasped ----------- */

@media screen and (max-width: 767px) {

    #SidebarNav {
        opacity: 1 !important;
        position: absolute;
        font-size: 12%;
        top: 5%;
    }
  
}